main {
    padding: 1rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}

p {
    color: darkgoldenrod;
    font-size: large;
    font-style: italic;
}

.main-header {
    width: 100%;
    height: 70px;
    background-color: darkgoldenrod;
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-div-inputbox {
    display: flex;
    margin-bottom: 1rem;
}

.input-container {
    flex: 1;
    margin-right: 1rem;
    height: 10rem;
    position: relative;
    border: 2px dashed lightgray; /* Add dashed border */
}
.input-container:hover{
    border: 2px solid darkgoldenrod; /* Add dashed border */
}


.first-file,
.second-file {
    list-style: none;
    padding: 2rem;
    border: none;
    background-color: transparent;
    color: white;
}

.submit-container {
    text-align: center;
    margin-top: 1rem;
}

.file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 2rem;

}

.submit-container {
    text-align: center;
    margin-top: 1rem;
}

button {
    border: none;
    background-color: darkgoldenrod;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}